EXPERIMENT NO 7.

TITLE: TO STUDY LOOPS IN PYTHON

NAME- DOLLY DALAL
PRN -25070123044
BATCH-ENTC A2

TYPES OF LOOPS IN PYTHON

WHILE LOOP

FOR LOOP


NESTED LOOP

In [ ]:
#WHILE LOOP
#USED WHEN THE NUMBER OF ITERATIONS IS NOT KNOWN.
syntax
while condition:
  statement(s)

In [ ]:
#print i as long as i is less than 6:
i=0
while(i<=5):
  print(i)
  i=i+1

0
1
2
3
4
5

In [ ]:
#print number from 1 to n
n= float(input("Enter the numnber: "))
i=0
while(i<=n-1):
  print(i)
  i=i+1

Enter the numnber: 9
0
1
2
3
4
5
6
7
8

In [ ]:
#factorial of number
n= int(input("Enter the number: "))
fact = 1

while n > 0:
    fact = fact * n    #also write it as fact*=n, n-=1
    n = n - 1

# display result

print("Factorial =", fact)     #print("factorial=",fact)

Enter the number: 7
Factorial = 5040

In [ ]:
# input number
num = int(input("Enter a number: "))

def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print("Factorial =", factorial(num))

Enter a number: 6
Factorial = 720

In [ ]:
#fibonacci series using while loop
n = int(input("Enter number of terms: "))

a = 0
b = 1

i=0
while(i<=n):
   print(a)
   c=a+b
   a=b
   b=c
   i=i+1

Enter number of terms: 12
0
1
1
2
3
5
8
13
21
34
55
89
144

In [ ]:
#reverse a numnber
num=int(input("enter a number:"))
rev=0
while num>0:
  digit=num % 10
  rev=rev*10+digit
  num=num//10
print("reverse=",rev)

enter a number:6435132
reverse= 2315346

In [ ]:
#palindrome
s = "madam"
i,j = 0,len(s) - 1
is_palindrome = True
while i<j:
  if s[i] != s[j]:
    is_palindrome = False
    break
  i +=1
  j -=1

if is_palindrome:
  print("Yes")
else:
  print("No")

Yes

In [ ]:
#check palindromenumber/string
data = input("Enter a number or string: ")
rev = data[::-1]
if data == rev:
    print("Palindrome")
else:
    print("Not a Palindrome")

Enter a number or string: 546454
Not a Palindrome

THE BREAK STATEMENT

With break statement we can stop the loop even if the while condition is true:

In [ ]:
#EXIT THE LOOP WHEN I IS 3:
n = int(input("Enter a number: "))
i = 1

while i <= n:
    if i == 3:
        break
    print(i)
    i += 1

Enter a number: 7
1
2

In [1]:
#search an element in the list
prn = [176, 225, 23, 39, 223]

key = int(input("Enter PRN to search: "))

found = False

for num in prn:
    if num == key:
        found = True
        break

if found:
    print("Prn found in the list ")
else:
    print("Prn not found in the list ")

Enter PRN to search: 456
Prn not found in the list

While-Continue

continue skips the remaining statements of the current iteration and jumps back to the while condition.

In [2]:
#Print numbers from 1 to 10 (skip 5)
i = 1
while i<=10:
  if i==5:
    i=i+1
    continue
  print(i)
  i=i+1

1
2
3
4
6
7
8
9
10

In [3]:
#Print only odd numbers from 1 to 10
i = 1
while i<=10:
  print(i,end=' ')
  i=i+2

i = 1
while i<=10:
  if i%2==0:
    i +=1
    continue
  print(i)
  i +=1

1 3 5 7 9 1
3
5
7
9

FOR LOOPS

In [4]:
#PRint numbers from 1 to 5

for i in range(1,6):
  print(i)

#Print even numbers from 1 to 10
for i in range(2,11,2):
  print(i,end=' ')

1
2
3
4
5
2 4 6 8 10

In [5]:
#Sum of first N numbers

n = int(input("enter a number: "))
sum = 0
for i in range(1,n+1):
  sum += i
print(sum)

enter a number: 8
36

In [6]:
# Nested for Loop
# note last number in range bracket in exclusive
for i in range(1,4):
  for j in  range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [11]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
  for j in range(3):
    print(A[i][j],end=" ")
  print() #we can notice indentation logic and this print is in i for loop

1 2 3
4 5 6
7 8 9

In [12]:
#Multiplication of Two 3x3 Matrices
A = [[1,2,3],[4,5,6],[1,2,1]]
B = [[1,1,1],[6,5,4],[3,2,1]]

Result =[[0,0,0],[0,0,0],[0,0,0]]

for i in range(3):    #rows of A
  for j in range(3):  #column of B
    for k in range(3):
      Result[i][j] += A[i][k] * B[k][j]

print("Product of matrices:")
for row in Result:
  print(row)

Product of matrices:
[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [13]:
#multiplication of two matrices with taking their inputs

#Python Program to Accept Three digits and Print all Possible Combination
d1 = 1
d2 = 2
d3 = 3

d=[d1,d2,d3]

for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j]and d[j]!=d[k] and d[k]!=d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [17]:

# 1️⃣ Armstrong Number Check


num = int(input("Enter a number to check Armstrong: "))
total = 0

for digit in str(num):
    total += int(digit) ** len(str(num))

if total == num:
    print("Armstrong")
else:
    print("Not Armstrong")



# 2️⃣ Prime Numbers from 2 to 50


print("\nPrime numbers between 2 and 50:")
for num in range(2, 50):
    for j in range(2, num):
        if num % j == 0:
            break
    else:
        print(num, end=' ')

# 3️⃣ Pyramid Pattern


print("\n\nPyramid Pattern:")
n = 5
for i in range(n):
    print(i * ' ' + (n - i) * '$')



# 4️⃣ Inverted Pyramid Pattern


print("\nInverted Pyramid:")
n = 5
for i in range(n):
    print(i * ' ' + (n - i) * '$ ')



# 5️⃣ Corrected Pattern (Your Error Fixed)


print("\nAnother Pattern:")
n = 6
for i in range(n):
    print((n - i) * ' ' + i * ' $')


# 6️⃣ Number Triangle Pattern


print("\nNumber Triangle:")
num = 1

for i in range(1, 6):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

Enter a number to check Armstrong: 89
Not Armstrong

Prime numbers between 2 and 50:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

Pyramid Pattern:
$$$$$
 $$$$
  $$$
   $$
    $

Inverted Pyramid:
$ $ $ $ $
 $ $ $ $
  $ $ $
   $ $
    $

Another Pattern:

      $
     $ $
    $ $ $
   $ $ $ $
  $ $ $ $ $

Number Triangle:
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [18]:
#Write a Pythin code for Inverted Right Angle Triangle
for i in range(5,0,-1):
  print("* " * i)

* * * * *
* * * *
* * *
* *
*